body, input {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: white;
}

input {
  line-height: 2rem;
}

#root {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}
